<div class="post">

	{% assign author = site.authors[include.post.authorslug] %}
	{% if author == null %}
		{% assign author = include.post.author %}
	{% endif %}

	<div class="post-content-wrap">
		<article class="post-content">
			<!--<header class="post-header">
				<p class="post-meta">{{ include.post.date | date: "%b %-d, %Y" }}{% if author != null %} • <a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>{% endif %}{% if include.post.meta %} • {{ include.post.meta }}{% endif %}</p>
			</header>-->
			<h2 class="post-song__heading">{{ include.post.title }}</h2>
			<div class="post-song__content">
				{{ include.post.content }}
			</div>
			<h4 class="post-song__heading">
				<span>Posted by </span>
				{% if author != null %}<a href="https://twitter.com/{{ author.twitter }}">@{{ author.twitter }}</a>{% else %}Anonymous{% endif %}
				<span> on </span>
				{{ include.post.date | date: "%b %-d, %Y" }}
			</h4>
 		</article>
	</div>

	<a class="nav-btns  nav-btns--left  {% if include.post.previous == nil %}disabled{% endif %}" href="{{ include.post.previous.url | prepend: site.baseurl }}"><</a>
	<a class="nav-btns  nav-btns--right  {% if include.post.next == nil %}disabled{% endif %}" href="{{ include.post.next.url | prepend: site.baseurl }}">></a>

	<script>
	window.urls = {
		previous: '{{ include.post.previous.url | prepend: site.baseurl }}',
		next: '{{ include.post.next.url | prepend: site.baseurl }}'
	};
	var link = document.querySelector('#js-post-tweet-link');
	link.href = link.href.replace(/%3C\/*p%3E/g, '');
	</script>
</div>
