.post-song__heading {
	text-align: center;
	font-weight: bold;
}

.post-song__content {
	text-align: center;
	padding: 20px 0;
}

/**
 *  Alice in chains - Man in the box CSS
 */

$cube-size: 280px;
$cube-tape-size: 50px;

$cube-color: #C7A172;
$cube-tape-color: #A28661;

.cube--wrap {
	height: $cube-size;
	box-sizing: content-box;
	padding: $cube-size / 4;
}

.cube {
	width: $cube-size;
	margin: 0 auto;
	position: relative;
	transform-style: preserve-3d;
	transform: rotateX(-15deg) rotateY(-45deg);
}

.cube > div {
	position: absolute;
	width: $cube-size;
	height: $cube-size;
	background: $cube-color;
	//box-shadow: inset 5px 5px 50px #d4ba76;
	border: 2px solid #B5926D;
	color: #666;
	font-family: Impact;
	font-size: 24px;
	letter-spacing: 1px;
	text-align: center;
	text-transform: uppercase;
}

.back {
	transform: translateZ(-$cube-size / 2) rotateY(180deg);
}

.right {
	transform: rotateY(-270deg) translateX($cube-size / 2);
	transform-origin: top right;

	&:before {
		content: "";
		position: absolute;
		width: $cube-tape-size;
		height: $cube-tape-size;
		left: calc(50% - 25px);
		top: 0;
		background: $cube-tape-color;
		opacity: 0.8;
	}
}

.left {
	transform: rotateY(270deg) translateX(-$cube-size / 2);
	transform-origin: center left;
}

.top {
	transform: rotateX(-90deg) translateY(-$cube-size / 2);
	transform-origin: top center;

	&:before, &:after {
		content: "";
		position: absolute;
		width: 100%;
		height: $cube-tape-size;
		top: calc(50% - #{$cube-tape-size} / 2);
		left: 0;
		background: $cube-tape-color;
		opacity: 0.8;
	}

	&:after {
		transform: rotateZ(90deg);
	}
}

.bottom {
	transform: rotateX(90deg) translateY($cube-size / 2);
	transform-origin: bottom center;
}

.front {
	transform: translateZ($cube-size / 2);
	padding-top: 80px;

	&:before {
		content: "";
		position: absolute;
		width: $cube-tape-size;
		height: $cube-tape-size;
		left: calc(50% - 25px);
		top: 0;
		background: $cube-tape-color;
		opacity: 0.8;
	}
}

@keyframes spin {
	from {
		transform: rotateY(0);
	}
	to {
		transform: rotateY(360deg);
	}
}

.arrow-up {
	display: inline-block;
	margin: 0 5px;
	position: relative;
	height: 25px;
	border: 5px solid;

	&:before {
		content: "";
		position: absolute;
		top: -10px;
		left: -10px;
		border-bottom: 10px solid;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}
}

.caution-box {
	margin: 0 10px;
	border: 2px solid;
	border-radius: 2px;
	text-align: center;
	font-size: 21px;
	position: relative;
	top: calc(50% - 80px);

	&:before {
		content: "CAUTION";
		font-size: 24px;
		display: block;
		color: $cube-color;
		background: #666;
	}
}

.fragile-box {
	border-top: 5px solid;
	margin: 0 10px;
	border-bottom: 5px solid;
	padding: 2px;

	&:before, &:after {
		display: block;
		line-height: 1.1em;
	}

	&:before {
		content: "FRAGILE";
		font-size: 40px;
	}

	&:after {
		content: "HANDLE WITH CARE";
		font-size: 21px;
	}
}

/**
 *  Motorhead - Ace of Spades CSS
 */

$card-width: 300px;
$card-height: 400px;

$card-background: #fff;
$card-color: #666;

.card {
	width: $card-width;
	height: $card-height;
	position: relative;
	margin: 0 auto;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.card__front, .card__back {
	background: $card-background;
	color: $card-color;
	border: 2px solid;
	border-radius: 5px;
	position: absolute;
	width: inherit;
	height: inherit;
	backface-visibility: hidden;
}

.card__front {
	animation: 3s anim-rotate--card__front linear infinite;
}

.card__back {
	transform: rotateY(-180deg);
	animation: 3s anim-rotate--card__back linear infinite;
	background: url("../images/lemmy.jpg") no-repeat center;
	background-size: cover;
}

.card__main-content {
	font-size: 200px;
	position: absolute;
	line-height: 200px;
	top: calc(50% - 100px);
	left: 0;
	right: 0;
}

.card__mini-content {
	font-size: 30px;
	line-height: 30px;
	position: absolute;

	&:before {
		content: 'A';
		display: block;
		line-height: 20px;
		font-size: 20px;
	}

	&:first-child {
		left: 10px;
		top: 10px;
	}

	&:last-child {
		right: 10px;
		bottom: 10px;
		transform: rotateZ(180deg);
	}
}

.card__back-content {
	color: #fff;
	font-size: 30px;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

@keyframes anim-rotate--card__front {
	0% { transform: rotateY(0deg); }
	100% { transform: rotateY(360deg); }
}

@keyframes anim-rotate--card__back {
	0% { transform: rotateY(-180deg); }
	100% { transform: rotateY(180deg); }
}

/**
 *  Bad Religion - 21st Century Digital Boy
 */

$tv-width: 300px;
$tv-height: 200px;

$tv-box-background: #1A1B1D;


.tv-box {
	width: $tv-width;
	height: $tv-height;
	margin: 20px auto;
	background: $tv-box-background;
	border-radius: 15px;
	padding: 15px;
}

.tv-screen {
	border-radius: inherit;
	width: 100%;
	height: 100%;
	background: url('../images/tv-signal-fail.gif');
}

.tv-stand {
	width: $tv-width + 20px;
	border: 7px solid $tv-box-background;
	position: relative;
	margin: 20px auto 0;

	&:before {
		border: 20px solid $tv-box-background;
		position: absolute;
		left: calc(50% - 20px);
		bottom: 0;
		content: '';
	}
}